/*-----------------------------
         Shared Styles 
------------------------------*/


* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    padding: 20px 25px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

main {
    max-width: 1360px;
    margin: 0% auto;
}

main>section {
    margin-top: 130px;
}


/*---------------------------------
        Nav Related Styles 
---------------------------------*/

/* header {
    background-color: #FFF4E7;
    padding: 50px 240px;
} */

nav,
.banner {
    max-width: 1360px;
    margin: 0% auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}


/*----------------------------
        Banner Styles 
-----------------------------*/


.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    width: 100%;
    margin-top: 25px;
}

/*------------------------------------------
         Teams Container Style Start 
------------------------------------------*/


.teams-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-contain {
    margin-left: 130px;
    max-width: 530px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}


/*--------------------------------
        Feature Section Style 
 --------------------------------*/


.features {
    display: flex;
    margin-top: 130px;
    gap: 130px;
}

.features-title {
    border-left: 5px solid #FF900E;
    padding-left: 25px;
}

.features-contain .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.ten-years-batch {
    background: #FF900E;
    border-radius: 8px;
    padding: 25px 10px;
    width: 342px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 100px;
    right: 90px;
}

.ten-years-batch h2 {
    font-weight: 700;
    font-size: 4rem;
    margin: 0%;
}

.ten-years-batch p {
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

/*------------------------------------
        Facts Section Style
------------------------------------*/

.facts-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    margin: 0% 4rem;
}


.facts-card-container .card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 5px;
}


.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin: 10px 0;
}


/*----------------------------------------------
            Sponsors Section Style
----------------------------------------------*/

.sponsors {
    text-align: center;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165px;
}

/* Footer Style */

.footer {
    text-align: center;
    margin: 50px 0 20px;
    padding: 25px;
    border-radius: 10px;
    color: #424242;
}




/*---------------------------------------------------
                 Media Query 
---------------------------------------------------*/



@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-contain {
        text-align: center;
        margin: 0%;
    }

    .teams-contain {
        padding-left: 20px;
        padding-right: 20px;
    }



    /*--------------------------------------
                 Facts Style 
    --------------------------------------*/


    .facts {
        text-align: center;
    }

    .facts-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        margin: 0% 0.2rem;
    }


    /*--------------------------------
            Feature Section Style 
     --------------------------------*/

    .features {
        flex-direction: column;
    }

    .feature-img img {
        width: 100%;
    }

    .ten-years-batch {
        width: 270px;
        right: 0%;
    }
}



/*----------------------------------------------------------- 
                        Medium Devices 
-----------------------------------------------------------*/



@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    /*--------------------------------------
                     Facts Style 
    --------------------------------------*/


    .facts {
        text-align: center;
    }

    .facts-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        margin: 0% 0.2rem;
    }

    /*--------------------------------
                Feature Section Style 
         --------------------------------*/

    .features {
        flex-direction: column;
    }

    .feature-img img {
        width: 100%;
    }

    .ten-years-batch {
        width: 270px;
        right: 0%;
    }
}